body{
  margin: 0 auto;
  background-color: cornflowerblue;
  display: inline-block;
  opacity: .7;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  font-family: Arial, sans-serif;
  font-size: large;
  }
  
  header {
    position: relative;
    color: #fff;
    padding: 20px;

  }
  
  .header-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
  }
  
  nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .contain {
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;

  }
  .header-text {
    position: relative;
    bottom: 20px;
    left: 20px;
    text-shadow: 1px 1px #000;
    margin-right: 20px
 ;
  }
  
  .header-text h1 {
    font-size: 42px;
  }
  
  .header-text p {
    padding-top: 10%;
    font-size: 22px;
  }
  